* {
  box-sizing: border-box;
}

body {
  color: white;
  background: black;
}

.container {
  overflow: hidden;
}

.panes,
.preview {
  float: left;
  position: relative;
  width: 50vw;
  height: 100vh;
}

.preview {
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  z-index: 1;
}

.ace-editor,
.preview iframe { 
  display: block;
  width: 100%;
  height: 100%;
}

.preview iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: opacity 0.2s ease-out-in;
  opacity: 0;
}
.preview iframe.active {
  opacity: 1;
}